<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Fournisseurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Fournisseurs</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Liste des fournisseurs</ion-card-title>
      <ion-searchbar></ion-searchbar>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list>
          <ion-item *ngFor="let fournisseur of fournisseurs">
            <ion-label>{{ fournisseur.fournName }}</ion-label>
            <ion-label>{{ fournisseur.adresse }}</ion-label>
            <ion-label>{{ fournisseur.telephone }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
