<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bon sortie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bon sortie</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Liste des bons de sorties</ion-card-title>
      <ion-searchbar></ion-searchbar>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list>
          <ion-item *ngFor="let bonSortie of filteredBonSorties">
            <ion-label>{{ bonSortie.motif.title }}</ion-label>
            <ion-label>{{ bonSortie.dateSortie }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
