<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bon d'entrée</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bon d'entrées</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Liste des bons d'entrées</ion-card-title>
      <ion-searchbar></ion-searchbar>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-list>
          <ion-item *ngFor="let bonEntree of filteredBonEntrees">
            <ion-label>{{ bonEntree.statut }}</ion-label>
            <ion-label>{{ bonEntree.dateCommande }}</ion-label>
            <ion-label>{{ bonEntree.fournisseur.fournName }}</ion-label>
          </ion-item>
        </ion-list>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
