<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Mon Profil</ion-title>
    <ion-button *ngIf="currentUser" (click)="logout()"> Se déconnecter</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mon Profil</ion-title>
      <ion-button> Se déconnecter</ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Formulaire</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form (ngSubmit)="updateProfile()">
          <ion-list>
            <ion-item>
              <ion-input label="Nom d'utilisateur" id="username" [(ngModel)]="utilisateur.username" name="username"
                         placeholder="Nom d'utilisateur" [counter]="true" maxlength="20"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Nouveau Mot de Passe" type="password" id="password" [(ngModel)]="newPassword"
                         name="newPassword" [counter]="true" minlength="8" maxlength="30"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Confirmer le Mot de Passe" type="password" id="confirmPassword"
                         [(ngModel)]="confirmPassword" name="confirmPassword" [counter]="true" minlength="8"
                         maxlength="30"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Email" type="email" id="email" [(ngModel)]="utilisateur.email" name="email"
                         placeholder="email@domain.com" [counter]="true" maxlength="30"
                         error-text="Veuillez entrer une adresse e-mail valide"></ion-input>
            </ion-item>

            <ion-item>
              <ion-input label="Téléphone" type="text" id="contact" [(ngModel)]="utilisateur.contact" name="contact"
                         placeholder="88-88-88-88" [counter]="true" maxlength="8"></ion-input>
            </ion-item>

            <ion-button type="submit"> Sauvegarder</ion-button>
          </ion-list>
        </form>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
